* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff8e1;
}

/* HEADER */
.page-header {
  text-align: center;
  padding: 40px 20px;
}

.page-header h1 {
  font-size: 48px;
}

/* CARD */
.card {
  max-width: 600px;
  margin: auto;
  background: #ffeb99;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 6px;
}

.form-group input,
.form-group textarea {
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.submit-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background: rgb(26, 56, 251);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: white;
  color: rgb(26,56,251);
  border: 2px solid rgb(26,56,251);
}

.success-msg {
  display: none;
  margin-top: 15px;
  color: green;
  text-align: center;
  font-weight: bold;
}

.back-btn {
  display: inline-block;
  margin: 20px;
  background: #272727;
  color: white;
  padding: 12px 20px;
  border-radius: 12px;
  text-decoration: none;
}

footer {
    background-color: #1f2933;
    color: #ddd;
    padding: 40px 20px;
    margin-top: 60px;
}

.footer-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.footer-item h4 {
    margin-bottom: 10px;
    color: white;
}

.footer-item ul {
    list-style: none;
    padding-left: 0;
}

.footer-item li {
    margin-bottom: 6px;
    font-size: 14px;
}

.footer-item a {
    color: #ffd54f;
    text-decoration: none;
}

.footer-item a:hover {
    text-decoration: underline;
}

.footer-item iframe {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    border: none;
}
